In [3]:
import pandas as pd
import numpy as np

In [30]:
data = np.zeros( (10,3*5+3) )
data[:,:3*5] = np.random.randint( 1 , high=6 , size=(10,3*5) )
data[:,3*5:] = np.random.randint( 1 , high=11 , size=(10,3) )

cols = [ " " for i in range(3*5+3) ]
for i in range(3) : 
    for j in range(5) : 
        cols[ 5*i + j ] = "r_%i_%i" % (i+1,j+1) 
    cols[ 3*5 + i ] = "id_%i" % (i+1)

df = pd.DataFrame( data )
df.columns = cols
df.reset_index( inplace=True )
df.rename( columns={'index':'ind'} , inplace=True )

df

,ind,r_1_1,r_1_2,r_1_3,r_1_4,r_1_5,r_2_1,r_2_2,r_2_3,r_2_4,r_2_5,r_3_1,r_3_2,r_3_3,r_3_4,r_3_5,id_1,id_2,id_3
0,0,4.0,3.0,3.0,4.0,2.0,4.0,1.0,3.0,3.0,2.0,2.0,5.0,2.0,1.0,5.0,3.0,6.0,3.0
1,1,1.0,1.0,3.0,2.0,5.0,4.0,1.0,2.0,3.0,2.0,2.0,3.0,3.0,4.0,4.0,1.0,9.0,10.0
2,2,2.0,1.0,2.0,5.0,3.0,1.0,4.0,2.0,1.0,3.0,2.0,5.0,5.0,2.0,2.0,7.0,8.0,5.0
3,3,4.0,3.0,1.0,3.0,5.0,1.0,3.0,4.0,5.0,4.0,3.0,2.0,4.0,1.0,5.0,10.0,7.0,1.0
4,4,3.0,5.0,2.0,2.0,4.0,3.0,3.0,5.0,2.0,4.0,5.0,3.0,5.0,4.0,3.0,7.0,8.0,8.0
5,5,2.0,4.0,2.0,5.0,2.0,1.0,5.0,1.0,3.0,5.0,1.0,2.0,5.0,4.0,4.0,4.0,7.0,3.0
6,6,5.0,1.0,1.0,3.0,3.0,5.0,5.0,5.0,3.0,3.0,2.0,3.0,4.0,3.0,4.0,9.0,4.0,2.0
7,7,5.0,4.0,3.0,1.0,5.0,5.0,2.0,5.0,4.0,3.0,2.0,3.0,2.0,2.0,3.0,7.0,1.0,10.0
8,8,5.0,4.0,2.0,3.0,4.0,3.0,2.0,2.0,2.0,3.0,2.0,5.0,4.0,4.0,3.0,1.0,4.0,4.0
9,9,1.0,5.0,1.0,1.0,5.0,3.0,3.0,4.0,5.0,1.0,1.0,5.0,1.0,1.0,5.0,5.0,1.0,3.0

In [40]:

for i in range(3) : 
    vals = [ 'r_%i_%i' % (i+1,j+1) for j in range(5) ]
    pt = pd.pivot_table( df , values=vals , index=[ 'id_%i' % (i+1) ] , columns=[] , aggfunc=np.mean)
    print( pt )

         r_1_1     r_1_2     r_1_3     r_1_4  r_1_5
id_1
1.0   3.000000  2.500000  2.500000  2.500000    4.5
3.0   4.000000  3.000000  3.000000  4.000000    2.0
4.0   2.000000  4.000000  2.000000  5.000000    2.0
5.0   1.000000  5.000000  1.000000  1.000000    5.0
7.0   3.333333  3.333333  2.333333  2.666667    4.0
9.0   5.000000  1.000000  1.000000  3.000000    3.0
10.0  4.000000  3.000000  1.000000  3.000000    5.0
      r_2_1  r_2_2  r_2_3  r_2_4  r_2_5
id_2
1.0     4.0    2.5    4.5    4.5    2.0
4.0     4.0    3.5    3.5    2.5    3.0
6.0     4.0    1.0    3.0    3.0    2.0
7.0     1.0    4.0    2.5    4.0    4.5
8.0     2.0    3.5    3.5    1.5    3.5
9.0     4.0    1.0    2.0    3.0    2.0
         r_3_1  r_3_2     r_3_3  r_3_4     r_3_5
id_3
1.0   3.000000    2.0  4.000000    1.0  5.000000
2.0   2.000000    3.0  4.000000    3.0  4.000000
3.0   1.333333    4.0  2.666667    2.0  4.666667
4.0   2.000000    5.0  4.000000    4.0  3.000000
5.0   2.000000    5.0  5.000000    2.0  2.000000
8.0   5.000000    3.0  5.000000    4.0  3.000000
10.0  2.000000    3.0  2.500000    3.0  3.500000